// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.langkeywords {
  color: blue;
}
.langmethod {
  color: rgb(102, 0, 102);
}
.langvalue {
  color: green;
}
.codepad {
  padding: 0px 20px;
}

ion-icon {
  &[class*="linq-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="linq-aggregation"] {
    mask-image: url(../assets/svg/linq-aggregation.svg);
  }
  &[class*="linq-conversion"] {
    mask-image: url(../assets/svg/linq-conversion.svg);
  }
  &[class*="linq-join"] {
    mask-image: url(../assets/svg/linq-join.svg);
  }
  &[class*="linq-partition"] {
    mask-image: url(../assets/svg/linq-partition.svg);
  }
  &[class*="linq-group"] {
    mask-image: url(../assets/svg/linq-group.svg);
  }
  &[class*="linq-order"] {
    mask-image: url(../assets/svg/linq-order.svg);
  }
  &[class*="linq-projection"] {
    mask-image: url(../assets/svg/linq-projection.svg);
  }
  &[class*="linq-restriction"] {
    mask-image: url(../assets/svg/linq-restriction.svg);
  }
  &[class*="linq-quantifiers"] {
    mask-image: url(../assets/svg/linq-quantifiers.svg);
  }
  &[class*="linq-element"] { 
    mask-image: url(../assets/svg/linq-element.svg);
  }
  &[class*="linq-generation"] {
    mask-image: url(../assets/svg/linq-generation.svg);
  }
  &[class*="linq-other"] {
    mask-image: url(../assets/svg/linq-other.svg);
  }
  &[class*="linq-set"] {
    mask-image: url(../assets/svg/linq-set.svg);
  }
}
